version: "3.10"
services:
  db:
    image: mongo:5.0
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ~/mongo:/data/db
    env_file: .env
    networks:
      - user-service

  eatiplan-user-service:
    container_name: eatiplan-user-service
    restart: always
    env_file: .env
    build: .
    ports:
      - $GRPC_PORT:9080
    networks:
      - user-service
    depends_on:
      - db

networks:
  user-service:
    external: true
