name: CI

on: [pull_request]

jobs:
  lint:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        uses: ./.github/actions/install-deps

      - name: lint
        run: pylint *.py --ignore=node_modules,venv
